VITE_SUPABASE_URL=talpwujyepmjzlxobztq
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRhbHB3dWp5ZXBtanpseG9ienRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1NDQzNzIsImV4cCI6MjA5ODEyMDM3Mn0.Kf3CjxJzaob9c_AQIcUdyBw2jJRB7O8DNX7phl1Vmbc
