PORT=5000
SUPABASE_URL=talpwujyepmjzlxobztq
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRhbHB3dWp5ZXBtanpseG9ienRxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjU0NDM3MiwiZXhwIjoyMDk4MTIwMzcyfQ.NrS7MG1ud9mBMmeRlF4vhZ6mz60XE8a9LRYmlAPjg4Y

SMS_API_USER=your_user
SMS_API_PASS=your_pass
SMS_API_SENDER=your_sender
MANAGER_PHONES=number1,number2
